/* Variables y Estilos Base */
:root {
    --color-primary: #007BFF; 
    --color-secondary: #0D3A63; 
    --color-text-body: #555555;
    --color-bg-light: #FFFFFF;
    --color-bg-alt: #F4F6F9;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-bg-light);
}