@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');

/* Variables y Estilos Base */
:root {
    --color-primary: #007BFF; 
    --color-secondary: #0D3A63; 
    --color-text-body: #555555;
    --color-bg-light: #FFFFFF;
    --color-bg-alt: #F4F6F9;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-bg-light);
}

.request-tour-button,
.primary-cta-button,
.nav-menu,
.hero-title,
.section-heading,
.login-link,
.cta-title {
    font-family: 'Changa', sans-serif;
    font-weight: 900;
}